@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Open Sans', sans-serif;  
    background-color: #2d3748;
    color: #edf2f7!important;
    height: 100%;
    padding: 0px;
    margin: 0px;
    touch-action: manipulation;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none!important;
}
.form label {
    color: #D1D5DB!important;;
}
.popup {
    color: #FF0000;
}

.tailwind-grid {
    display: grid
}

h1 {
    padding: 0px!important;
    margin: 0px!important;
}
canvas {
    width: 800px!important;
    height: 600px!important;
}
.game-canvas {
    width: 800px!important;
    height: 600px!important;
}
.dark-bg {
    background-color: #1a202c;
}
.w-76 {
    width: 34rem;
}
.w-78 {
    width: 36rem;
}
.w-74 {
    width: 30rem;
}
.frame-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.game-frame {  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;  
}
#open_sidebar:hover {
    cursor: pointer;
    color: #E53E3E;
}
.site-title {
    font-family: 'Luckiest Guy', cursive;      
}
.page-title {
    font-family: 'Luckiest Guy';    
}
.panel-title {
    letter-spacing: 0.2em;
    font-family: 'Luckiest Guy';    
}
.category-title {
    font-family: 'Luckiest Guy'!important;
}
.thumbnail-size {
    min-height: 120px!important;
    max-height: 120px!important;
}
.navbar-item {   
    font-family: 'Luckiest Guy'!important; 
}
.borderless {
    border: none!important;
}
button .borderless {
    border-color: black!important;
}
.bg-gray {
    background-color: #1a202c;
}
.game-card:hover {  
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.game-card {
    -webkit-transition: -webkit-transform 0.5s ease!important;
    -moz-transition: -moz-transform 0.5s ease!important;
    transition: transform 0.5s ease!important;
}
.game-link {
    -webkit-transition: -webkit-transform 0.5s ease!important;
    -moz-transition: -moz-transform 0.5s ease!important;
    transition: transform 0.5s ease!important;
}
.game-link:hover {   
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.game-link-text:hover {
    color: #48bb78!important;
}
.page-link-icon:hover {
    transform: scale(1.2)!important;
    -webkit-transform: scale(1.2)!important;
    -moz-transform: scale(1.2)!important;
    -o-transform: scale(1.2)!important;
    background-color: none!important;
    border: none!important;
    color:#dd6b20!important;
}
.page-link-icon {
    -webkit-transition: -webkit-transform 0.2s ease!important;
    -moz-transition: -moz-transform 0.2s ease!important;
    transition: transform 0.2s ease!important;
    background-color: none!important;
    border: none!important;
}
.ui.vertical.menu .item > i.icon.left {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}
.leaderboard-item {
    background-color: #2d3748!important;
    padding: 1rem!important;
    border-radius: 0.25rem!important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)!important;
}