{% set color = color|default('bg-gray-800 border-gray-800 border-2 border-solid') %}
{% set border = border|default('border-0 border-b-2 border-gray-700 border-solid') %}
{% set icon = icon|default({
    size: 'h-6 w-6', width: 2, color: 'text-green-700' 
}) %}
<div id="reset_password_panel" class="px-4 pb-2 {{ color }} border-gray-300 w-full tracking-wide rounded-md shadow-lg">
    <div class="mb-4 flex items-center pb-2 pt-4 uppercase {{ border }}">
        {{ component('icons~user',icon,'svg') }}  
        <div class="pl-2">
            {{ title }}
        </div>
    </div>
    <div class="h-36 p-1">
        {{ component('files:users.reset-password.form') }}      
    </div>                       
</div>
  