<div id="reset_password_panel">
    <div class="ui fluid raised inverted segment recovery-form">
        <div class="content">
            {{ component('arcade>users.title',{ title: title }) }} 
            {{ component('arcade>users.reset-password.form') }}              
        </div>
    </div>
    <div class="ui horizontal list">                          
        <div class="item">
            <a id="login_page_link" class="text">
                <i class="user outline icon"></i>
                {{ links.login }}
            </a>
        </div>                
    </div>    
</div>