{% set preview = getOption('arcade.game.preview.page',false) %}
{% set games_per_page = getOption('arcade.games.per.page',50) %}
{% set model = createModel('Games','arcade').gamesByType(type) %}
{% if mobile == true %}
    {% set model = model.mobileGamesQuery(mobile) %}  
{% endif %}
{% set paginator = paginate(model,'games.type',games_per_page) %}  

{% for game in paginator.getItems() %}          
    {% if game.status == 1 %}       
        {{ component('arcade:games.card',{ preview: preview, game: game }) }}   
    {% endif %}
{% endfor %}     