{% set games_per_page = getOption('arcade.games.per.page',50) %}
{% set model = createModel('Games','arcade').gamesByType(type) %}
{% if mobile == true %}
    {% set model = model.mobileGamesQuery(mobile) %}  
{% endif %}
{% set paginator = paginate(model,'games.type',games_per_page) %}  

{% for game in paginator.getItems() %}          
    {% if game.status == 1 %}
        {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}

        {% if (mobile == true and game.hide_mobile != 1) or (mobile == false) %}  
            <div class="rounded game-card text-center">     
                <a href="{{ game.getGamePageUrl() }}">                                         
                    <img class="w-32 h-32 game-image rounded" src="{{ thumbnail }}">                  
                </a>    
                <div class="pb-2">
                    {{ game.display_title|sliceText(20) }}
                </div>
            </div>    
        {% endif %}

    {% endif %}
{% endfor %}     