{% set badge = badge|default('default-badge.png') %}
{% set items = createModel('PlayerItems','arcade').getItemsQuery(user.id,'badge').get() %}  
<div class="ui mini images">
    <button class="ui tertiary green button set-badge" badge="{{ badge }}">
        <img src="{{ template_url }}/images/badges/{{ badge }}" class="ui circular inline image" badge="{{ badge }}">
    </button>
    {% for item in items %}
    <button class="ui tertiary green button set-badge" badge="{{ item.item_value }}">
        <img src="{{ template_url }}/images/badges/{{ item.item_value }}" class="ui circular inline image" badge="{{ item.item_value }}">
    </button>
    {% endfor %}
</div>