{% set login_with = getOption('users.login.with',1) %}
{% set captcha_protect = getOption('users.login.captcha.protect',true) %}
<form class="ui form" id="login_form" method="POST">
    {% if login_with == 1 or login_with == 3 %}
        <div class="field text-white">
            <label class="text-white">{{ fields.user_name.label }}</label>               
            <input type="text" name="user_name" id="user_name" {{ fields.user_name.placeholder|attr("placeholder") }}>                
        </div>
    {% else %}
        <div class="two wide field" >
            <label>{{ fields.email.label }}</label>
            <input type="text" name="email" id="email" {{ fields.email.placeholder|attr("placeholder") }}>    
        </div>   
    {% endif %}
    <div class="field">
        <label>{{ fields.password.label }}</label>
        <input type="password" name="password" id="password" {{ fields.password.placeholder|attr("placeholder") }}>  
    </div>   
    <div class="field">           
        <div class="ui checkbox">            
            <input type="checkbox" name="remember" id="remember" value="1">    
            <label>{{ fields.remember.label }}</label>
        </div>
    </div>             
    <div class="field mt-2" id="captcha_panel">            
        {% if captcha_protect == true %}           
            {% if service('access').getLoginAttempts() > 0 %}           
                {{ component('captcha::code') }}                
            {% endif %}       
        {% endif %}   
    </div>    
    {{  component('tailwind~form.footer',{ 
            button: {
                class: 'ui fluid large primary button',
                title: buttons.login.title
            }           
        }) 
    }}           
</form>