<div class="mt-2 p-4">
    {% component 'tailwind~card' type 'static' %}
        {% set color = 'bg-gray-800 border-2 border-solid border-gray-800' %}
        {% set class = 'w-1/2' %}
        <div class="p-2 text-orange-600 plx-4 text-lg">                    
            {{ subscription.plan.title }}
        </div>
        <div class="p-1 flex flex-row items-center">
            {{ component('icons~calendar',{ color: 'text-indigo-500', size: 'h-6 w-6', width: 2 },'svg') }}             
            <div class="flex-grow text-gray-300 p-2" title="{{ labels.date }}">
                {{ subscription.date_created|dateFormat }}
            </div>                       
            <div class="items-center pl-4 p-2 border border-gray-700 border-solid flex flex-row">
                {{ labels.billing }}               
                <div class="text-green-700 pl-2 uppercase text-sm">
                    {{ subscription.billing_type }}
                </div>                           
            </div>
        </div>   
    {% endcomponent %}
</div>