{% set thumbnail = service('image.library').getThumbnail(game.id,'game',164,164).src %}
{% if thumbnail is empty %}
    {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
{% else %}
    {% set thumbnail = url(thumbnail) %}
{% endif %}

<div class="rounded game-card text-center">     
    <a href="{{ game.getGamePageUrl() }}">                                         
        <img alt="{{ game.display_title }}" class="w-32 h-32 rounded game-image rounded" src="{{ game.thumbnail }}" title="{{ game.display_title }}">                  
    </a>        
    <div class="pb-2 text-white">
        {{ game.display_title }}
    </div>   
</div>