<a href="{{ url('/user') }}">
    <i class="icon {{ icon }}"></i>
</a>
<div class="ui dropdown user-menu-dropdown {{ class }}" id="user_menu_dropdown">      
    {% if show_user_name == true %}
        {% set user = service('access').getUser() %}
        {% set user_name = (user.user_name is empty) ? user.email : user.user_name %}
        <span class="text">{{ user_name }}</span>
    {% endif %}
    {% if hide_dropdown_icon != true %}
        <i class="icon dropdown"></i>
    {% endif %}
    <div class="ui menu {{ menu_class }}">
        {% if service('access').isLogged() == true %}
            <a class="item {{ (selected == '') ? 'active' : '' }} dropdown-user-menu-item" component="arcade>users.account" href="{{ url('/user') }}">
                <i class="icon cog {{ icon_class }}"></i>
                {{ items.account }}
            </a>                    
            <a class="item dropdown-user-menu-item" component="arcade>users.logout" href="{{ url('/logout') }}">
                <i class="icon sign out {{ icon_class }}"></i>
                {{ items.logout }}
            </a>
        {% else %}
            <div class="item navbar-item {{ (active == 'login') ? 'active': '' }}">   
                <a href="{{ url('/login') }}">{{ items.login }}</a>            
            </div>
            <div class="item navbar-item {{ (active == 'signup') ? 'active': '' }}">   
                <a href="{{ url('/signup') }}">{{ items.signup }}</a>            
            </div>
        {% endif %}
    </div>
</div>