{% set category_id = category_id|default(null) %}
{% set games_per_page = getOption('arcade.games.per.page',50) %}
{% set model = createModel('CategoryRelations','category').getItemsQuery(category_id,'game') %}
{% set paginator = paginate(model,'games.category',games_per_page) %}  

{% for item in paginator.getItems() %}          
    {% if item.related.status == 1 %}
        {% if (mobile == true and item.related.hide_mobile != 1) or (mobile == false) %}  
            {% set game = item.related %}
            {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
            <div class="ui raised card fluid borderless rounded game-card">     
                <a class="w-full h-full show-popup" href="{{ game.getGamePageUrl() }}" >                                         
                    <img class="w-full h-full game-image rounded" data-src="{{ game.thumbnail }}">                  
                </a>     
                <div class="ui popup top left transition inverted hidden">
                    <div class="p-0 text-white">
                        {{ game.display_title }}
                    </div>
                </div>
            </div>             
        {% endif %}   
    {% endif %}
{% endfor %}     