{% set category_id = category_id|default(null) %}
{% set games_per_page = getOption('arcade.games.per.page',50) %}
{% set model = createModel('CategoryRelations','category').getItemsQuery(category_id,'game') %}
{% set paginator = paginate(model,'games.category',games_per_page) %}  

{% for item in paginator.getItems() %}          
    {% if item.related.status == 1 %}
        {% if mobile == true %}
            {% if item.related.hide_mobile != 1 %}
                {{ component('arcade>games.card',{ game: item.related }) }}
            {% endif %}
        {% else %}
            {{ component('arcade>games.card',{ game: item.related }) }}
        {% endif %}
    {% endif %}
{% endfor %}     