{% set category_id = category_id|default(null) %}
{% set games_per_page = getOption('arcade.games.per.page',50) %}
{% set model = createModel('CategoryRelations','category').getItemsQuery(category_id,'game') %}
{% set paginator = paginate(model,'games.category',games_per_page) %}  

{% for item in paginator.getItems() %}          
    {% if item.related.status == 1 %}
        {% if (mobile == true and item.related.hide_mobile != 1) or (mobile == false) %}  
            {% set game = item.related %}
          
            {% set thumbnail = service('image.library').getThumbnail(game.id,'game',164,164).src %}
            {% if thumbnail is empty %}
                {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
            {% else %}
                {% set thumbnail = url(thumbnail) %}
            {% endif %}
            <div class="rounded game-card text-center">     
                <a href="{{ game.getGamePageUrl() }}">                                         
                    <img class="w-32 h-32 game-image rounded" src="{{ thumbnail }}" alt="{{ game.display_title }}">                  
                </a>    
                <div class="pb-2">
                    {{ game.display_title|sliceText(20)}}
                </div>
            </div>                     
        {% endif %}   
    {% endif %}
{% endfor %}     