{% component 'tailwind~navbar' type 'html' %}  
    {% set class = 'w-full p-1 pt-3 flex flex-row items-center h-18' %}  
    {% set color = theme.navbar.color|default('bg-gray-900 shadow-lg') %}
    {% set content_class = 'flex flex-row w-full p-1 h-18' %}  
    {% set button = {
        class: 'md:hidden py-3 pl-3',
        icon: {
            name: 'icons~menu',          
            color: 'text-gray-200',
            size: 'h-8 w-8',
            class: theme.link.hover
        }
    } %}
    <div class="flex items-center flex-row flex-grow xs:flex-grow">               
        <a class="navbar-title block site-title text-5xl antialiased pl-2 md:flex-grow" title="{{ title }}" href="{{ url('',true) }}">
            <img alt="{{ title }}" src="{{ template_url }}/images/logo.png">
        </a>          
        <div class="flex md:flex flex-row items-center pl-8 xs:hidden sm:hidden">
            {{ component('icons~trend.up',{ color: 'text-green-500', size: 'h-7 w-7', width: 2, class: theme.navbar.icon.color },'svg') }}  
            <a class="pl-2 text-yellow-500 text-2xl {{ theme.link.hover }} navbar-item" href="{{ url('/leaderboard') }}">               
                {{ links.leaderboard }}
            </a>
        </div>  
        <div class="pb-2 ml-8 self-end place-item-end md:hidden xs:hidden sm:hidden lg:block">
            {{ component('arcade:games.search',{ input_class: 'bg-gray-700', class: 'ui' }) }} 
        </div>       
    </div>       
    {{ component('arcade:navbar.menu',{ logged: logged, hide: true }) }}     
    <div class="self-center">
        {{  component("tailwind~language",{ 
                color: 'bg-gray-800 text-gray-300 rounded-lg shadow-lg',
                link_class: 'px-4 py-2 text-sm text-gray-400 hover:bg-gray-700 hover:text-gray-200',
                icon: {
                    color: 'text-white',
                    class: theme.link.hover,
                    size: 'h4 w-4' 
                }
            }) 
        }}    
    </div>
{% endcomponent %}
<div class="pt-2 self-center place-item-center md:block xs:block sm:block lg:hidden">
    {{ component('arcade:games.search',{ input_class: 'bg-gray-700', id: 'mobile_serch', class: 'ui' }) }} 
</div> 