{% component 'tailwind~navbar' type 'html' %} 
    {% set logged = access().isLogged() %}
    {% set class = 'w-full p-1 pt-3 flex flex-row' %}  
    {% set color = theme.navbar.color|default('bg-gray-900 shadow-lg') %}
    {% set content_class = 'flex flex-row w-full' %}  
    {% set button = {
        class: 'md:hidden py-3 pl-3',
        icon: {
            name: 'icons~menu',          
            color: 'text-gray-200',
            size: 'h-8 w-8',
            class: theme.link.hover
        }
    } %}
   
    <div class="flex items-center flex-row flex-grow xs:flex-grow">       
        <div class="navbar-title pl-2 md:flex-grow">
            <a class="site-title text-5xl antialiased tracking-wider pl-2" title="{{ title }}" href="{{ url('',true) }}">
                <img src="{{ template_url }}/images/logo.png">
            </a>   
        </div> 
        <div class="flex md:flex flex-row items-center flex-grow pl-8 xs:hidden sm:hidden">
            {{ component('icons~trend.up',{ color: 'text-green-500', size: 'h-7 w-7', width: 2, class: theme.navbar.icon.color },'svg') }}  
            <a class="pl-2 text-yellow-500 text-2xl {{ theme.link.hover }} navbar-item" href="{{ url('/leaderboard') }}">               
                {{ links.leaderboard }}
            </a>
        </div>  
    </div>                     
    <div class="flex flex-row items-center">  
        {% if logged == true %}       
            {% set user_link = (logged == true) ? url('/user') : url('/login') %}          
            <a class="cursor-pointer p-1 pt-2 mr-10" href="{{ user_link }}">
                {{ component('icons~user',{ size: 'h-7 w-7', width: 2, color: theme.navbar.icon.color },'svg') }}  
            </a>  
        {% else %}   
            <a class="px-4 text-gray-400 text-xl {{ theme.link.hover }} navbar-item" href="{{ url('/login') }}">   
                {{ links.login }}          
            </a>
            <a class="px-4 text-gray-400 text-xl {{ theme.link.hover }} navbar-item" href="{{ url('/signup/player') }}">   
                {{ links.signup }}       
            </a>
        {% endif %}                    
        {{  component("tailwind~language",{ 
                icon: {
                    color: 'text-white',
                    class: theme.link.hover,
                    size: 'h4 w-4' 
                }
            }) 
        }}                                                               
    </div>             
{% endcomponent %}