<div class="row bg-gray-900 shadow mt-4 pt-4 padded">
    <div class="three wide computer only column"></div>
    <div class="four wide column">                        
        <div class="flex p-0 pl-2 m-0">  
            <div class="ui grid one mobile only column tablet only column">   
                <div class="mt-5">
                    {{  component('category>categories.dropdown',{  
                            page_url: '{{ slug }}/games',
                            offset: 0, 
                            class: 'inline inverted icon',
                            menu_class: '',
                            icon: 'big bars',
                            branch: 'arcade',
                            class: 'inverted icon',
                            hide_dropdown_icon: true,
                            language: language,
                            show_error: false 
                        }) 
                    }}  
                </div>                                              
            </div>                                                                   
            <div class="site-title text-5xl antialiased tracking-wider text-purple-500 pt-2" title="{{ title }}">                    
                <a href="{{ url() }}">{{ title }}</a>                   
            </div>  
        </div>                                                                                                                  
    </div>
    <div class="six wide column">
        {{ component('arcade>games.search',{ input_class: 'bg-gray-700', class: 'right floated' }) }}  
    </div>  
    <div class="three wide computer six wide mobile right aligned column pt-2">
        {{ component("components:language.dropdown") }}    
    </div>   
</div>
<div class="row computer only p-0 bg-teal-700 shadow-md">
    <div class="sixteen wide column">       
        <div class="text-center center aligned">
            {{  component('category>categories.list',{ 
                    page_url: '{{ slug }}/games', 
                    class: "horizontal", 
                    item_text_class: 'text-xl text-gray-200 font-thin tracking-wide',
                    item_class: 'text-lg ui button olive tertiary',
                    max_items: 19,
                    show_error: false,
                    branch: 'arcade',
                    language: language
                }) 
            }}
            {{  component('category>categories.dropdown',{  
                    page_url: '{{ slug }}/games',
                    offset: 20, 
                    class: 'inline inverted icon',
                    menu_class: '',
                    branch: 'arcade',
                    language: language,
                    show_error: false 
                }) 
            }}                   
        </div>
    </div>
</div>