{{ component('arcade:users.title',{ title: title, icon: '' }) }}  
{% set size = size|default(10) %} 
{% set user_id = access().getId() %}
{% set model = createModel('Games','arcade') %}
{% set items = createModel('PlayerItems','arcade').getItemsQuery(user_id).orderBy('date_created','desc') %}
{% set items = items.take(size).get() %}
{% set icon = icon|default(theme.icon) %}
<div class="mt-8">
    {% if items|length == 0 %}
        <div class="p-2">
            {{ labels.empty }}
        </div>
    {% endif %}
    {% for item in items %}
        {% set game = model.findById(item.item_value) %}
        <div class="p-2 bg-gray-800 flex flex-row rounded-lg items-center" id="favorite_game_{{ item.uuid }}">
            <a class="rounded-lg flex-shrink-0 w-32 h-32" href="{{ game.getGamePageUrl() }}">        
                <img alt="{{ game.title }}" class="thumbnail-size game-card rounded-lg w-full h-full" src="{{ game.thumbnail }}">        
            </a>
            <div class="px-4 flex flex-col items-start">
                <div class="mt-4 uppercase panel-title text-yellow-500 tracking-widest">
                    {{ game.title }}
                </div>
                <div class="py-1">                   
                    {{ game.description }}                    
                </div>
                <div class="flex flex-row">
                    <a href="{{ game.getGamePageUrl() }}" class="p-2" data-tooltip="{{ labels.play }}"> 
                        {{ component('icons~play',{ color: 'text-green-500', size: 'h-8 w-8', class: theme.link.hover },'svg') }}  
                    </a>
                    <btn class="p-2 delete-favorite-game" uuid="{{ item.uuid }}" data-tooltip="{{ labels.delete }}">
                        {{ component('icons~trash',{ color: 'text-red-300', size: 'h-8 w-8', class: theme.link.hover },'svg') }}  
                    </btn>
                </div>               
            </div>
        </div>
    {% endfor %}
</div>
