{% set logged = access().isLogged() %}
<div class="flex flex-col items-stretch h-full">
    {{ component('arcade:navbar',{ active: active, logged: logged },'static') }}    
    <div class="flex flex-row items-stretch flex-grow" >                
        {{ component('arcade:sidebar',{ active: active, logged: logged }) }}   
        <div class="flex flex-row items-stretch flex-grow" >
            <div class="py-2 px-2 flex-shrink-0 w-1/6 xs:hidden lg:block" >   
                {{ component('arcade:categories',{ class: '' }) }}        
                {{ component('arcade:games.list',{ class: 'mt-4',featured: true, mobile: mobile, lenght: 10 }) }}             
                {{ component('arcade:ads',{ slug: 'left-panel', show_error: false, image_class: 'w-full h-full' }) }}                
                {{ component('arcade:games.list',{ new: true, mobile: mobile, class: 'mt-4' }) }}
                {{ component('arcade:games.list.premium',{ mobile: mobile, class: 'mt-4' }) }}
            </div>  
            <div class="my-2 w-full p-2 bg-gray-900 shadow-xl rounded-lg" id="page_content">                              
                {% if title is not empty %}
                <div class="pl-4 bg-gray-800 shadow-xl rounded-lg p-2 mb-4">
                    <h1 class="page-title text-lg font-thin tracking-widest text-orange-500">{{ title }}</h1>
                </div>
                {% endif %}
                {{ content }}                                      
            </div>
            <div class="py-2 px-2 flex-shrink-0 w-1/6 xs:hidden lg:block">       
                {{ description }}
                {{ instructions }}        
                {{  component('arcade:games.list',{ 
                        class: (instructions is empty) ? '' : 'mt-4', 
                        popular: true, 
                        mobile: mobile 
                    }) 
                }}              
                {{ component('arcade:ads',{ slug: 'right-panel', show_error: false, image_class: 'w-full h-full' }) }}
                {{ component('arcade:games.list.favorite',{ class: 'mt-4' }) }}  
                {{ component('arcade:panel.tags',{ class: 'mt-4' }) }}
            </div>   
        </div>          
    </div>       
    {{ component('arcade:footer',{},'static') }}                                          
</div>