{% component 'arcade>layout' %}
    <div class="row">  
        <div class="three wide computer only column">
            <div class="pl-2">
                {{ component('arcade>games.list',{ featured: true }) }}
                {{ component('arcade>panel.tags',{ show_error: false }) }}
                {{ component('arcade>ads.left',{ show_error: false }) }}
                <div class="mt-4">
                    {{ component('arcade>games.list',{ new: true }) }}
                </div>
              
            </div>            
        </div> 
        <div class="ten wide computer column sixteen wide mobile column" id="page_content">    
            {{ content }}
        </div>
        <div class="three wide computer only column">             
            <div class="pr-4">
                {{ component('arcade>games.list',{ popular: true }) }}
            </div>
            <div class="pr-4">
                {{ component('arcade>ads.right',{ show_error: false }) }}
            </div>
        </div> 
    </div>
{% endcomponent %}