{% set class = class|default('') %}
{% set icon = icon|default(theme.user.icon) %}
{% set item_class = item_class|default('flex flex-row items-center p-2 text-gray-400 tracking-wider font-bold') %}
{% set link_class = theme.link.hover %}
{% set item_text_class = item_text_class|default('px-2 md:inline sm:hidden xs:hidden') %}
<div class="flex flex-col p-2 rounded bg-gray-800 h-full flex-grow {{ class }}">
    {% if access().isLogged() == true %}
        <div class="p-1 px-2 flex flex-row items-center border-0 border-b-2 border-gray-800 border-solid">
            {{ component('icons~user',icon,'svg') }}  
            <span class="{{ item_text_class }}">{{ access().getUser().user_name }}</span>
        </div>
        <a class="{{ link_class }} {{ item_class }} {{ (selected == '') ? 'active' : '' }} user-menu-item" component="arcade:users.dashboard">           
            {{ component('icons~home',icon,'svg') }}  
            <span class="{{ item_text_class }}">{{ items.dashboard }}</span>
        </a>
        <a class="{{ link_class }} {{ item_class }} {{ (selected == 'premium') ? 'active' : '' }} user-menu-item" component="arcade:users.premium">
            {{ component('icons~spark',icon,'svg') }}  
            <span class="{{ item_text_class }} text-orange-500">{{ items.premium }}</span>
        </a>
        <a class="{{ link_class }} {{ item_class }} {{ (selected == 'details') ? 'active' : '' }} user-menu-item" component="arcade:users.favorite">
            {{ component('icons~bookmark',icon,'svg') }}  
            <span class="{{ item_text_class }}">{{ items.favorite }}</span>
        </a>       
        <a class="{{ link_class }} {{ item_class }} {{ (selected == 'change-password') ? 'active' : '' }} user-menu-item" component="arcade:users.password">
            {{ component('icons~lock',icon,'svg') }}  
            <span class="{{ item_text_class }}">{{ items.change_password }}</span>
        </a>       
        {{ content }}
        <a class="{{ link_class }} {{ item_class }} user-menu-item" href="{{ url('/logout',true) }}">
            {{ component('icons~logout',icon,'svg') }}      
            <span class="{{ item_text_class }}">{{ items.logout }}</span>           
        </a>
    {% endif %}
</div>