{% set link_class = link_class|default(theme.link.hover) %}
<div class="form inline {{ class }}" id="search_panel">
    <div class="field flex flex-row items-center" id="search_input">         
        <input type="text" placeholder="{{ placeholder }}" id="search_field" class="{{ input_class }}">  
        <btn class="p-1 p-2 search-button cursor-pointer">             
            {{ component('icons~search',{ size: 'h-8 w-8', width: 2, class: link_class },'svg') }}  
        </btn>     
    </div>       
</div>