{% set link_class = link_class|default(theme.link.hover) %}
<div class="flex flex-col mt-4 px-2">                 
    <a class="text-gray-300 text-3xl {{ link_class }}" href="{{ url(post.url) }}">
        {{ post.title }}
    </a>
    <div class="flex flex-row text-gray-500 text-sm">
        <span class="">{{ labels.published }}</span>
        <span class="text-bold px-3">{{ post.date_created|dateFormat }}</span>               
    </div>
</div>  
<div class="post-text mt-2 px-2">
    {% md %}
        {{ post.content|sliceLabel(300) }}
    {% endmd %}
    <div class="mt-1">        
        <a class="text-gray-500 text-sm {{ link_class }}" href="{{ url(post.url) }}">{{ labels.more }}</a>   
    </div>
</div>