{% set lenght = lenght|default(10) %}
{% set games = createModel('Games','arcade').getActive().notPremiumGamesQuery() %}
{% if mobile == true %}
    {% set games = games.mobileGamesQuery(mobile) %}  
{% endif %}
{% if random == true %}
    {% set games = games.orderByRaw('RAND()') %}
{% endif %}
{% if popular == true %}
    {% set games = games.orderBy('plays','desc') %}
    {% set title = title|default(labels.popular) %}
{% endif %}
{% if new == true %}
    {% set games = games.orderBy('date_created','desc') %}
    {% set title = title|default(labels.new) %}
{% endif %}
{% if featured == true %}
    {% set games = games.where('featured','=',1) %}
    {% set games = games.orderBy('date_created','desc') %}
    {% set title = title|default(labels.featured) %}
{% endif %}
{% set games = games.take(lenght).get() %}
{% component 'arcade:panel' %}
    <div class="tailwind-grid grid-cols-5 md:grid-cols-2 xl:grid-cols-4 sm:grid-cols-2 xs:grid-cols-2 gap-2">
        {% for game in games %}           
            {% set thumbnail = service('image.library').getThumbnail(game.id,'game',164,164).src %}
            {% if thumbnail is empty %}
                {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
            {% else %}
                {% set thumbnail = url(thumbnail) %}
            {% endif %}

            <div class="w-14 h-14 rounded-lg borderless game-card shadow" data-tooltip="{{ game.display_title }}">     
                <a class="p-1" href="{{ game.getGamePageUrl() }}">                                         
                    <img class="w-full h-full game-image rounded" src="{{ thumbnail }}" alt="{{ game.display_title }}">                  
                </a>                
            </div>
        {% endfor %}
    </div>
{% endcomponent %}