{% set lenght = lenght|default(10) %}
{% set games = createModel('Games','arcade').getActive().notPremiumGamesQuery() %}
{% if mobile == true %}
    {% set games = games.mobileGamesQuery(mobile) %}  
{% endif %}
{% if random == true %}
    {% set games = games.orderByRaw('RAND()') %}
{% endif %}
{% if popular == true %}
    {% set games = games.orderBy('plays','desc') %}
    {% set title = title|default(labels.popular) %}
{% endif %}
{% if new == true %}
    {% set games = games.orderBy('date_created','desc') %}
    {% set title = title|default(labels.new) %}
{% endif %}
{% if featured == true %}
    {% set games = games.where('featured','=',1) %}
    {% set games = games.orderBy('date_created','desc') %}
    {% set title = title|default(labels.featured) %}
{% endif %}
{% set games = games.take(lenght).get() %}
{% component 'arcade:panel' %}
<div class="ui stackable five inverted cards">
    {% for game in games %}
        {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
        <div class="ui raised card fluid borderless game-card">     
            <a class="w-full h-full show-popup" href="{{ game.getGamePageUrl() }}" title="{{ game.display_title }}">                                         
                <img class="w-full h-full game-image rounded" src="{{ thumbnail }}">                  
            </a>     
            <div class="ui popup top left transition inverted hidden">
                <div class="p-0 text-white">
                    {{ game.display_title }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endcomponent %}