{% set tag_id = tag_id|default(null) %}
{% set games_per_page = getOption('arcade.games.per.page',50) %}
{% set model = createModel('TagsRelations','tags').where('tags_id','=',tag_id).where('relation_type','=','game') %}
{% set paginator = paginate(model,'games.tag',games_per_page) %}  

{% for item in paginator.getItems() %}   
    {% set game = item.related %}
    {% if game.exists() == true and game.status == 1 %}
        {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}

        {% if (game.hide_mobile != 1 and mobile == true) or (mobile == false) %}          
            <div class="rounded game-card text-center">     
                <a href="{{ game.getGamePageUrl() }}">                                         
                    <img class="w-32 h-32 game-image rounded" src="{{ thumbnail }}">                  
                </a>    
                <div class="pb-2">
                    {{ game.display_title|sliceText(20)}}
                </div>
            </div>             
        {% endif %}

    {% endif %}
{% endfor %} 
