{% set show_game_plays = getOption('arcade.pages.show.game.plays') %}
{% set show_comments = getOption('arcade.game.comments',false) %}
{% if uuid is not empty %}
    {% set game = createModel('Games','arcade').findById(uuid) %}
{% endif %}
{% set user_id = access().getId() %}
{% set add = service('player').addExperience(user_id) %}
{% set favorite_game = service('player').isFavorite(user_id,game.id) %}
      
<h4 itemprop="name" class="panel-title text-lg font-thin tracking-widest text-yellow-500 bg-gray-800 p-2 rounded pl-4 shadow-xl mt-0">
    {{ game.display_title }}
</h4>  
{% if mobile == true and game.hide_mobile == true %}
<div class="p-2">
    {{ mesages.mobile }}
</div>
{% else %}
    <div class="flex flex-col flex-grow">                            
        {% set game_width = (game.width is empty) ? '100%' : game.width ~ 'px' %}
        {% set game_height = (game.height is empty) ? '100%' : game.height ~ 'px' %}   
        {% if game.game_code is empty %}                                                              
            {% if game.type|lower == 'flash' %}
            <object type="application/x-shockwave-flash" width="100%" height="100%" id="game_frame">
                <param name="movie" value="{{ game.game_file }}">
                <param name="quality" value="high" />
                <param name="play" value="true" />
                <param name="wmode" value="window" />
                <param name="menu" value="true" />
                <embed src="{{ game.game_file }}" width="100%" height="100%"></embed>
            </object>      
            {% elseif game.type|lower == 'dosbox' %}                   
                {{  component('arcade:game.dosbox',{ 
                        file: url('api/download/game/file/' ~ game.uuid,true),
                        game_file: game.game_file,
                        width: game_width,
                        height: game_height                        
                    }) 
                }}                 
            {% else %}
            <div class="frame-container">     
                <iframe 
                    id="game_frame" src="{{ game.game_url }}" width="100%" height="100%" 
                    class="game-frame border-0 {{ (game.width is empty or game.height is empty) ? 'min-h-screen' : '' }}" 
                    frameborder="0" scrolling="no">                   
                </iframe> 
            </div>                   
            {% endif %}                                       
        {% else %}
            {{ game.game_code }}
        {% endif %}                            
        <div class="flex justify-between items-center mt-1">
            {{  component('share::buttons.icons',{ 
                    show_error: false,
                    class: ' flex items-center',
                    button_class: '',
                    item_class: 'ml-2 pt-1' 
                }) 
            }}  
            <div class="flex flex-row items-center p-2 shadow-xl rounded-lg xs:hidden sm:flex md:flex">    
                <div class="ml-2 px-2">
                    {{ component('arcade:rating.label',{ type: 'game', rating_id: game.id }) }} 
                </div>    
                <div class="font-bold text-gray-500">
                    <span class="mr-2">{{ labels.rating }}</span>  
                    {{  component('arcade:rating',{ 
                            class: 'orange',
                            show_error: false, 
                            type: 'game', 
                            client_ip: client_ip,
                            rating_id: game.id 
                        }) 
                    }}   
                </div>                          
            </div>  
            <div class="p-1 flex flex-row items-center">
                {% if user_id is not empty and favorite_game == false %}
                <btn class="p-1 add-favorite-game" item-value="{{ game.id }}">
                    {{  component('icons~bookmark',{  
                            color: 'text-indigo-300',
                            class: theme.link.hover, 
                            size: 'h-6 w-6' 
                        },'svg') 
                    }}  
                </btn>
                {% endif %}
                {{  component('tailwind~buttons.fullscreen',{ 
                        class: 'p-1',
                        icon: {
                            color: 'text-indigo-300',
                            size: 'h-6 w-6',
                            name: 'icons~desktop',
                            class: theme.link.hover
                        },
                        element_id: 'game_frame',
                        hint: labels.fullscreen 
                    }) 
                }}
            </div>
        </div>          
        <div class="p-2">
            {{ game.notes }}
        </div>           
    </div>  
{% endif %}                         
<div class="self-center flex flex-col items-center bg-gray-900 shadow-xl rounded-lg p-2 mt-2 mb-14">     
    <div class="p-1 shadow text-gray-300">
        {{ game.description }}
    </div> 
    {% if game.instructions is not empty %} 
    <div class="my-2 p-1 shadow text-gray-300">
        <div class="text-gray-500 py-2 font-bold">
            {{ labels.instructions }}
        </div>
        {{ game.instructions }}
    </div> 
    {% endif %}
    <div class="flex flex-row items-center flex-grow self-end">
        {% if show_game_plays == 1 %}        
        <div class="flex flex-row items-center px-2">
            <div class="text-2xl text-green-700">
                {{ game.plays }}
            </div>
            <div class="text-gray-500 uppercase pl-2">
                {{ labels.gameplays }}
            </div>
        </div>
        {% endif %}   
        {% if game.date_created is not empty %}       
            <div class="flex flex-row items-center text-gray-500 pl-2">
                <div class="font-bold">{{ labels.published }}</div>
                <div class="pl-2">{{ game.date_created|dateFormat }}</div>
            </div>   
        {% endif %}   
    </div>               
</div>                             
{% if show_comments == true %}  
    <div class="bg-gray-900 shadow-xl rounded-lg p-4 mt-2 mb-14">  
        <div class="ui stackable grid"> 
            <div class="sixteen wide column">      
                {{  component('arcade:comments',{
                        items_class: "inverted relaxed",
                        form_class: 'inverted fluid',
                        relation_id: game.id,
                        relation_type: 'game'
                    }) 
                }}                  
            </div>
        </div>
    </div>
{% endif %}