{% if uuid is not empty %}
{% set game = createModel('Games','arcade').findById(uuid) %}
{% endif %}
{% set show_game_plays = getOption('arcade.pages.show.game.plays') %}
{% set user_id = access().getId() %}
{% if user_id is not empty %}
    {% set player_items = createModel('PlayerItems','arcade') %}  
    {% set favorite_game = player_items.hasItem(user_id,game.id) %}
    {% set options = createModel('UserOptions','users') %}   
    {% set exp = options.getOption('experience',user_id) %}  
    {% set new_exp = exp.value + 2 %}
    {% set exp_option = options.saveOption(user_id,'experience',new_exp) %}
    {% set updated = player_items.checkLevelUp(user_id,new_exp) %}
{% endif %}
<div class="bg-gray-900 shadow-xl rounded-lg p-2">          
    <h4 class="panel-title text-lg font-thin tracking-widest text-orange-500 bg-gray-800 p-2 rounded pl-4 shadow-xl mt-1">
        {{ game.display_title }}
    </h4>  
    <div class="ui stackable grid">
        <div class="row">           
            <div class="sixteen wide center aligned column">   
                {% set game_width = (game.width is empty) ? '100%' : game.width ~ 'px' %}
                {% set game_height = (game.height is empty) ? '100%' : game.height ~ 'px' %}   
                {% if game.game_code is empty %}                                                              
                    {% if game.type == 'Flash' %}
                    <object type="application/x-shockwave-flash" width="{{ game_width }}" height="{{ game_height }}" id="game_frame">
                        <param name="movie" value="{{ game.game_file }}">
                        <param name="quality" value="high" />
                        <param name="play" value="true" />
                        <param name="wmode" value="window" />
                        <param name="menu" value="true" />
                        <embed src="{{ game.game_file }}" width="{{ game_width }}" height="{{ game_height }}"></embed>
                    </object>                       
                    {% else %}
                    <div class="frame-container" style="min-height: {{ game_height }}">     
                        <iframe id="game_frame" {{ game.game_url|attr('src') }} width="{{ game_width }}" height="{{ game_height }}" 
                            class="game-frame border-0 {{ (game.width is empty or game.height is empty) ? 'min-h-screen' : '' }}" frameborder="0" scrolling="no">                   
                        </iframe> 
                    </div>
                    {% endif %}                                       
                {% else %}
                    {{ game.game_code }}
                {% endif %}   
            </div> 
        </div>
        <div class="row">
            <div class="six wide column">
                {{  component('share::buttons',{ 
                        show_error: false,
                        class: 'mt-8 ui horizontal list cetner aligned',
                        button_class: 'align-bottom align-text-bottom',
                        item_class: 'item ' 
                    }) 
                }}  
            </div>
            <div class="nine wide column">
                {{ game.notes }}
            </div>
            <div class="one wide column">
                <div class="ui buttons">
                    {% if user_id is not empty and favorite_game == false %}
                    <button class="ui icon olive button add-favorite-game right floated" item-value="{{ game.id }}">
                        <i class="icon bookmark bookmark"></i>
                    </button>
                    {% endif %}
                    {{  component('components:buttons.fullscreen',{ 
                            class: 'icon blue mini',
                            icon: 'expand large',
                            element_id: 'game_frame',
                            hint: labels.fullscreen 
                        }) 
                    }}
                </div>
            </div>
        </div>
    </div>               
</div>      
<div class="bg-gray-900 shadow-xl rounded-lg p-4 mt-2 mb-14">  
    <div class="ui stackable grid">            
        <div class="four wide column left floated pl-1 h-full">
            {% if game.date_created is not empty %}       
            <div class="text-gray-500 pt-2">
                <span class="font-bold">{{ labels.published }}</span>
                <span class="pl-2">{{ game.date_created|dateFormat }}</span>
            </div>   
            {% endif %}            
        </div>    
        <div class="seven wide column left floated">   
            <div class="font-bold text-gray-500 rounded-full">                
                <div class="p-4 bg-gray-800 shadow-xl rounded-lg">
                    <span class="mr-1">{{ labels.rating }}</span>  
                    {{ component('rating>rating',{ class: 'orange', show_error: false, type: 'game', rating_id: game.id }) }}
                    <div class="ml-2 mb-2 float-right">
                        {{ component('rating>rating.label',{ class:'basic inverted', icon_class: 'star orange', show_error: false, type: 'game', rating_id: game.id }) }} 
                    </div>
                </div>                                 
            </div>             
        </div>                  
        <div class="one wide column right aligned">
            {% if show_game_plays == 1 %}        
                <div class="ui horizontal teal mini right floated statistic pr-4 pt-4">
                    <div class="value">
                        {{ game.plays }}
                    </div>
                    <div class="label">
                        <span class="text-gray-500">{{ labels.gameplays }}</span>
                    </div>
                </div>
            {% endif %}           
        </div>      
    </div>  
</div> 