{% component 'tailwind~footer' type 'static' %} 
    {% set item_class = 'ml-8 flex items-center' %}   
    {% set class = 'p-2 h-20 xs:h-28 sm:h-28 bg-gray-900 flex justify-center' %} 
    {% set content_class = 'p-2 w-3/4 text-gray-800 self-center items-start mx-auto' %} 
    {% set icon = icon|default(theme.footer.icon) %}
    <div class="{{ item_class }}">
        {{ component('icons~home',icon,'svg') }} 
        <a href="{{ url('') }}" class="{{ theme.footer.link }}">               
            {{ links.home }}
        </a>
    </div>       
    <div class="{{ item_class }}">
        {{ component('icons~info',icon,'svg') }} 
        <a href="{{ url('about') }}" class="{{ theme.footer.link }}">              
            {{ links.about }}
        </a> 
    </div>  
    <div class="{{ item_class }}">
        {{ component('icons~gift',icon,'svg') }} 
        <a href="{{ url('featured-games') }}" class="{{ theme.footer.link }}">              
            {{ links.featured }}
        </a> 
    </div>    
    <div class="{{ item_class }}">
        {{ component('icons~trend.up',icon,'svg') }} 
        <a href="{{ url('popular-games') }}" class="{{ theme.footer.link }}">              
            {{ links.popular }}
        </a> 
    </div>   
    <div class="{{ item_class }}">
        {{ component('icons~collection',icon,'svg') }} 
        <a href="{{ url('premium-games') }}" class="{{ theme.footer.link }}">              
            {{ links.premium }}
        </a> 
    </div>    
    {% if mobile != true %}
    <div class="{{ item_class }}">
        {{ component('icons~code',icon,'svg') }}
        <a href="{{ url('dosbox/games/list') }}" class="{{ theme.footer.link }}">          
            {{ links.dos }}
        </a>
    </div>    
    {% endif %}
    <div class="{{ item_class }}">
        {{ component('icons~lock',icon,'svg') }} 
        <a href="{{ url('privacy') }}" class="{{ theme.footer.link }}">              
            {{ links.policy }}
        </a> 
    </div>    
    <div class="{{ item_class }}">
        <img src="{{ template_url }}images/arikaim-icon.png" width="14px" height="14px">
        <a href="http://arikaim.com" class="{{ theme.footer.link }}" target="arikaim">                                          
            {{ links.created }}
        </a>
    </div>  
    <div class="{{ item_class }}">    
        {{ component('icons~copyright',icon,'svg') }}  
        {{ component('tailwind~footer.copyright',{ title: copyright, class: 'md:flex sm:hidden xs:hidden' },'static') }}
    </div>     
{% endcomponent %}