{% set link_class = 'pl-2 text-sm cursor-pointer block text-gray-600 hover:text-red-500 transition duration-700 ease-in-out' %}
{% set color = color|default('bg-gray-800 border-gray-800 border-2 border-solid') %}
{% set border = border|default('border-0 border-b-2 border-gray-700 border-solid') %}
{% set icon = icon|default({
    size: 'h-6 w-6', width: 2, color: 'text-green-700' 
}) %}
<div id="login_panel" class="w-full mx-auto">
    <div class="px-4 pb-2 w-full {{ color }} tracking-wide rounded-lg shadow-lg">          
        <div class="mb-4 flex items-center pt-2 pb-2 pt-4 uppercase {{ border }}">
            {{ component('icons~user',icon,'svg') }}  
            <div class="pl-2">
                {{ title }}
            </div>
        </div>
        {{ component('arcade:users.login.form') }}
        {% if hasExtension('oauth') == true %}                            
            {{  component('arcade:users.connect',{                    
                    class: '',
                    hide_button_title: true 
                }) 
            }}
        {% endif %}          
    </div>
    <div class="flex bg-wite">
        <div class="p-1 flex items-center">            
            {{ component('icons~lock.open',{ size: 'h-4 w-4', width: 2, color: theme.icons.color },'svg') }}  
            <a class="{{ link_class }}" id="forgotten_button">   
                {{ links.forgotten }}
            </a>
        </div>
        <div class="p-1 flex items-center">          
            {{ component('icons~user.add',{ size: 'h-4 w-4', width: 2, color: theme.icons.color },'svg') }}  
            <a class="{{ link_class }}" id="signup_button" href="{{ getPageUrl('signup.page','users') }}">                        
                {{ links.signup }}
            </a>
        </div>
    </div>
</div>