<div id="login_panel">   
    <div class="w-full rounded-lg shadow-lg bg-gray-900 p-4">          
        {{ component('arcade>users.title',{ title: title }) }}   
        <div class="mt-2">  
            {{ component('arcade>users.login.form') }}
        </div>      
        {% if hasExtension('oauth') == true %}                            
            {{  component('arcade>users.connect.buttons',{ 
                    button_class: 'basic icon inverted blue',
                    class: 'fluid',
                    hide_divider: true,
                    hide_button_title: true 
                }) 
            }}
        {% endif %}        
    </div>
    <div class="mt-1"></div>
    <div class="ui horizontal list">
        <div class="item">            
            <a class="inline" id="forgotten_button">
                <i class="unlock alternate icon"></i>                
                {{ links.forgotten }}
            </a>
        </div>
        <div class="item">          
            <a class="inline" id="signup_button" href="{{ getPageUrl('signup.page','users') }}">
                <i class="user plus icon"></i>                
                {{ links.signup }}
            </a>
        </div>
    </div>
</div>