{% component 'tailwind~card' type 'static' %}
{% set billing_type = billing_type|default('annual') %}
{% set color = 'bg-gray-800' %}
{% set class = 'w-64' %}
{% set upgrade = upgrade|default(false) %}        
    <div class="p-1 animate-pulse text-center text-3xl font-bold uppercase text-yellow-700 ">
        {{ plan.title }}
    </div>                     
    <div class="mt-1 px-4 py-4 border-0 border-t-2 border-gray-800 border-solid">
        <span class="text-gray-300">{{ plan.description }}</span>
    </div>
    <div class="mt-4 h-10">       
        {% set monthly_price = plan.pricePerMonth('monthly')|numberFormat([0]) %}
        {% set annual_price = plan.pricePerMonth('annual')|numberFormat([0]) %}
        <div class="flex flex-row items-center justify-center">   
            {% if plan.isFree() == false %}
            <div class="pt-3">
                <i class="icon grey large {{ plan.currency.icon }}"></i>
            </div>                                           
            <div class="text-6xl text-bold plan-price" monthly-price="{{ monthly_price }}" annual-price="{{ annual_price }}">                
                {{ (billing_type == 'annual') ? annual_price : monthly_price }}  
            </div>    
            <div class="text-gray-600 pt-4">
                /{{ labels.month }}
            </div>                
            {% endif %}
        </div>        
    </div>
    <div class="mt-8 rounded text-center py-4">       
        {% set monthly_subscrbe_url = url(plan.getSubscribeUrl('monthly',upgrade)) %}
        {% set annual_subscrbe_url = url(plan.getSubscribeUrl('annual',upgrade)) %}     

        <a class="ui big button olive subscribe-button" 
            href="{{ (billing_type == 'annual') ? annual_subscrbe_url : monthly_subscrbe_url }}"  
            monthly-url="{{ monthly_subscrbe_url }}"
            annual-url="{{ annual_subscrbe_url }}">               
            <span class="uppercase text-white">{{ (upgrade == true) ? labels.subscribe : labels.signup }}</span>
        </a>       
    </div>
    {% if plan.features.count > 0 %}       
        <div class="pl-4 pb-4 text-left">
            <div class="flex flex-col">
                {% for feature in plan.features %}
                <div class="flex flex-row">                 
                    {{ component('icons~check',{ color: 'text-green-500', size: 'h-6 w-6', width: 2 },'svg') }}  
                    <div class="text-gray-200 pl-2">{{ feature.title }}</div>                                                                                                          
                </div>
                {% endfor %}           
            </div>
        </div>       
    {% endif %}
{% endcomponent %}  