{% set category_id = category_id|default(null) %}
{% set size = size|default(10) %}
{% set model = createModel('CategoryRelations','category').getItemsQuery(category_id,'game') %}
{% set items = model.take(size).get() %}  

<div class="flex mb-4">
    {% for item in items %}          
        {% if item.related.status == 1 %}
            {% set thumbnail = (item.related.thumbnail is not empty) ? item.related.thumbnail : template_url ~ '/images/gamepad.svg' %}
            <div class="sm:w-auto rounded overflow-hidden shadow-lg md:h-56 md:w-56 ml-2 game-card">
                <a href="{{ item.related.getGamePageUrl() }}">
                    <img class="w-full h-full rounded" src="{{ thumbnail }}" title="{{ item.related.title }}">                    
                </a>   
            </div>                             
        {% endif %}
    {% endfor %}     
</div>