<div class="p-1">     
    <div class="p-1 rounded text-gray-300 text-3xl {{ class }}">                 
        {{ post.title }}
        <div class="flex flex-row text-sm text-gray-500 bg-gray-800 w-72 rounded p-1">
            <span class="px-2">{{ labels.published }}</span>    
            <span class="px-2">{{ post.date_created|dateFormat }}</span>             
        </div>
    </div>   
    <div class="post-text mt-2 p-1">
    {% md %}
        {{ post.content }}
    {% endmd %}
    </div>
</div>