{% set color = color|default('bg-gray-800 border-gray-800 border-2 border-solid') %}
{% set border = border|default('border-0 border-b-2 border-gray-700 border-solid') %}
{% set icon = icon|default({
    size: 'h-6 w-6', width: 2, color: 'text-green-700' 
}) %}
<div class="px-4 pb-2 {{ color }} tracking-wide rounded-md shadow-lg w-1/2 lg:w-1/2 md:w-full xs:w-full" id="signup_content">
    <div class="flex mb-4 items-center pb-2 pt-4 uppercase {{ border }}">
        {{ component('icons~user.add',icon,'svg') }}  
        <div class="pl-2">
            {{ title }}
        </div>
    </div>    
    {{ component('arcade:users.signup.form') }}
    {% if hasExtension('oauth') == true %}                            
        {{ component('arcade:users.connect',{ class: '' }) }}
    {% endif %}
</div>