{% set games = createModel('Games','arcade').getActive() %}
{% if query is not empty %}
    {% set games = games.join('games_translations', 'game_id', '=', 'games.id', 'left outer') %}
    {% set games = games.whereRaw("(UPPER(games.title) LIKE ?",["%" ~ query|upper ~ "%"]) %}
    {% set games = games.orWhereRaw("UPPER(games.display_name) LIKE ?",["%" ~ query|upper ~ "%"]) %}
    {% set games = games.orWhereRaw("UPPER(games_translations.display_name) LIKE ? )",["%" ~ query|upper ~ "%"]) %}
    {% set games = games.selectRaw('distinct games.id,games.uuid,games.position,games.slug,games.title,games.description,games.instructions,games.type,games.url,games.thumbnail') %}
{% endif %}
{% set games_per_page = getOption('arcade.games.per.page',50) %}
{% if featured == true %}
    {% set max = max|default(20) %}
    {% set games = games.where('featured','=',1).take(max) %}   
{% endif %}
{% if popular == true %}
    {% set max = max|default(20) %}
    {% set games = games.orderBy('plays','desc').take(max) %}   
{% endif %}

{% set items = paginate(games,'games.home',games_per_page) %}
{% set items = items.getItems()%}
{% for game in  items %}
    {{ component('arcade>games.card',{ game: game }) }}
{% endfor %}
{% if items is empty and query is not empty %}
<div class="mt-2 pl-4">
    <h5>{{ labels.not_found }}</h5>
</div>
{% endif %}