{% set lenght = lenght|default(7) %}
{% set user_id = access().getId() %}
{% if user_id is not empty %}
    {% set model = createModel('Games','arcade') %}
    {% set items = createModel('PlayerItems','arcade').getItemsQuery(user_id).orderBy('date_created','desc') %}
    {% set items = items.take(lenght).get() %}
    {% if items|length > 0 %}
        {% component 'arcade:panel' %}     
            <div class="tailwind-grid grid-cols-5 items-stretch gap-2 self-center">        
            {% for item in items %}
                {% set game = model.findById(item.item_value) %}
                {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
                <div class="w-14 h-14 rounded-lg borderless game-card shadow game-card" data-tooltip="{{ game.display_title }}">  
                    <a class="w-full h-full" href="{{ game.getGamePageUrl() }}" >                                         
                        <img class="w-full h-full game-image rounded" src="{{ thumbnail }}">                  
                    </a>                        
                </div>               
            {% endfor %}       
            </div>
        {% endcomponent %}
        </div>
    {% endif %}
{% endif %}