{% set lenght = lenght|default(10) %}
{% set games = createModel('Games','arcade').getActive() %}
{% if mobile == true %}
    {% set games = games.mobileGamesQuery(mobile) %}  
{% endif %}
{% set games = games.premiumGamesQuery() %}  
{% set games = games.take(lenght).get() %}

<div class="align-top bg-gray-900 bg-gradient-to-r from-gray-900 from-gray-700 shadow-xl rounded-lg p-2 {{ class }}">
    <div class="panel-title text-lg text-white font-thin tracking-widest bg-gradient-to-r from-red-500 via-red-600 to-red-300 p-2 rounded pl-4 shadow-xl">       
        {{ title }}
    </div>
    <div class="p-2 mt-2">
        <div class="tailwind-grid grid-cols-5 md:grid-cols-2 xl:grid-cols-4 sm:grid-cols-2 xs:grid-cols-2 gap-2">
            {% for game in games %}
                {% set thumbnail = service('image.library').getThumbnail(game.id,'game',164,164).src %}
                {% if thumbnail is empty %}
                    {% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
                {% else %}
                    {% set thumbnail = url(thumbnail) %}
                {% endif %}               
                <div class="w-14 h-14 rounded-lg borderless game-card shadow">     
                    <a class="p-1 show-popup" href="{{ game.getGamePageUrl() }}" data-tooltip="{{ game.display_title }}">                                         
                        <img alt="{{ game.display_title }}" class="w-full h-full game-image rounded" src="{{ thumbnail }}">                  
                    </a>                       
                </div>
            {% endfor %}
        </div>
    </div>
</div>