{% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
<div class="bg-gray-900 shadow-xl rounded-lg p-2 ">          
    <h4 class="panel-title text-lg font-thin tracking-widest text-orange-500 bg-gray-800 p-2 rounded pl-4 shadow-xl mt-1">
        {{ game.display_title }}
    </h4>  
    <div class="ui stackable grid">
        <div class="row">           
            <div class="five wide column">   
                <div class="ui fluid image play-game-image">
                    <div class="ui dimmer">
                        <div class="content">
                            <button class="ui circular massive button green icon play-game" uuid="{{ game.uuid }}" title="{{ labels.play }}">
                                <i class="icon play"></i>
                            </button>
                        </div>
                    </div>
                    <img class="ui image rounded" src="{{ thumbnail }}">
                </div>                       
            </div> 
            <div class="eleven wide column left aligned">
                <p>{{ game.description }}</p>
                {% set code = createModel('Ads','ads').getCode('game-preview') %}
                {% if code != false %}
                    <div class="mt-4 min-h-10">       
                        {{ code }}
                    </div>
                {% endif %}
                <div clas="ui center aligned grid">
                    <div class="mt-24 sixteen wide mobile one wide computer center aligned column">
                        {% if mobile == true and game.hide_mobile == 1 %}
                            <div class="ui message">
                                {{ labels.mobile }}
                            </div>
                        {% else %}
                            <button class="ui circular big button green icon play-game" uuid="{{ game.uuid }}" title="{{ labels.play }}">
                                {{ labels.play }}                                        
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-12">              
            {% if category_id is not empty %}      
            <div class="sixteen wide column">   
                <div class="ui grey inverted horizontal divider header left aligned">                   
                    {{ labels.similar }}
                </div>
                {{ component('arcade>games.similar',{ category_id: category_id, size: 8 }) }}
            </div>
            {% endif %}
        </div>
    </div>               
</div>      