{% set thumbnail = (game.thumbnail is not empty) ? game.thumbnail : template_url ~ '/images/gamepad.svg' %}
{% set subscribed = createModel('Subscriptions','subscriptions').isSusbscribed(access().getId()) %}
{% set playable = (game.premium != 1 or (game.premium == 1 and subscribed == true)) %}
 
<div class="flex flex-col items-stretch h-full">
    <h4 class="panel-title text-lg font-thin tracking-widest text-yellow-500 bg-gray-800 p-2 rounded pl-4 shadow-xl mt-0">
        {{ game.display_title }}
    </h4>       
    <div class="flex justify-items-stretch lg:flex-row md:flex-row sm:flex-col xs:flex-col">           
        <div class="p-1 flex-shrink-0 px-4 self-center md:flex-shrink-0 w-64 h-64 mt-2 sm:flex-grow">                  
            <img class="h-full w-full" src="{{ thumbnail }}" alt="{{ game.display_title }}">                                         
        </div> 
        <div class="p-1 flex-grow">
            <p class="py-4">
                {{ game.description }}
            </p>
            {% set code = createModel('Ads','ads').getCode('game-preview') %}
            {% if code != false %}
                <div class="mt-4 min-h-10">       
                    {{ code }}
                </div>
            {% endif %}
            <div clas="p-2 px-4 flex flex-row items-center self-center">                              
                {% if mobile == true and game.hide_mobile == 1 %}
                    <div class="p-2">
                        {{ labels.mobile }}
                    </div>
                {% elseif playable == true %}                   
                    <btn client-ip="{{ client_ip }}"
                        class="ui circular big button green icon play-game md:w-32 w-32 xs:w-full sm:w-full self-center" uuid="{{ game.uuid }}" title="{{ labels.play }}">
                        {{ labels.play }}                                        
                    </btn>
                {% endif %}            
            </div>               
        </div>
    </div>
    {% if game.premium == 1 and subscribed == false %}    
        <div class="flex flex-col">
            <h3 class="uppercase text-center text-gray-200 bg-gradient-to-r from-gray-900 via-red-800 to-gray-900 pl-8">
                {{ labels.premium }}
            </h3>
            <div class="pl-4">
                {{ component('arcade:subscriptions',{}) }}
            </div>                
        </div>    
    {% endif %}
    <div class="mt-12 flex-grow place-self-start pt-10 w-full">               
    {% if category_id is not empty %}   
        <div class="flex flex-col self-start">   
            <div class="p-2 border-0 border-b-2 border-solid border-gray-800 text-gray-400">                   
                {{ labels.similar }}
            </div>
            {{ component('arcade:games.similar',{ category_id: category_id, size: 8, class: 'p-2 py-8' }) }}
        </div>
    {% endif %}
    </div>   
</div> 